{% extends '../modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Lista</title>
{% endblock %}

{% block conteudo1 %}
    <a href="{% url 'cadastrar-classe' %}" class="btn btn-primary btn-sm">Adicionar Classe</a>

    <h3>Estamos no Formulário</h3>
    <div class="table-responsive">
        <table class=" table table-striped">
            <tr>
                <th>Nome</th>
                <th>Nivel</th>
                <th>Descriçao</th>
            </tr>
            {% for classe in object_list %}
                <tr>
                    <td>{{ classe.nome }}</td>
                    <td>{{ classe.nivel }}</td>
                    <td>{{ classe.descricao }}</td>
                    <td>
                        <a href="{% url 'editar-classe' classe.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-classe' classe.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="3"> Nenhum Campo Registrado</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block conteudo2 %}
{% endblock %}